<% include partials/header %>

<div class="container" style="text-align: center">
    <br>
    <h2>Capex Calculator</h2>
    <br>

    <form id="form" autocomplete="off" action="/" method="POST">

        <div>
            <select name="location">
                <option value="SC4">SC4</option>
                <option value="EU"
                        <% if (location == 'EU') { %>
                        selected
                        <% } %>
                >EU</option>
                <option value="CAN"
                        <% if (location == 'CAN') { %>
                        selected
                        <% } %>
                >CAN</option>
            </select>
            <button id="add_row" type="button" class="btn btn-primary">Add row</button>
            <button id="delete_row" type="button" class="btn btn-primary">Delete row</button>
        </div>
        <br>

        <table id="form_table" class="table table-bordered">
            <thead>
            <tr>
                <th>Customer name</th>
                <th>Data size (TB)</th>
            </tr>
            </thead>

            <tbody>
            <% if(example && example.length) {
            for(let i = 0; i < example.length; i++) { %>
            <tr>
                <td><input type="text" class="form-control" placeholder="Customer name" name="form[<%= i %>][name]"
                           value="<%= example[i].name %>"/></td>
                <td><input type="number" class="form-control" placeholder="Data size" min="0" step="0.01"
                           name="form[<%= i %>][size]" value="<%= example[i].size %>"/></td>
            </tr>
            <% } } else { %>
            <tr>
                <td><input type="text" class="form-control" placeholder="Customer name" name="form[0][name]"
                           value=""/></td>
                <td><input type="number" class="form-control" placeholder="Data size" min="0" step="0.01"
                           name="form[0][size]" value=""/></td>
            </tr>
            <% } %>

            </tbody>
        </table>

        <div>
            <% if (total) { %>
            <b>Total data size: <%= total %> TB</b>
            <br><br>
            <% } %>
        </div>


        <button id="submit_form" type="submit" class="btn btn-primary">
            Calc!
        </button>

        <a href="/">
            <button type="button" class="btn btn-danger">
                Reset
            </button>
        </a>

        <br>
        <br>

        <fieldset>
            <legend>Results</legend>
            <div>
                <% if(blobs) { %>
                Blobs: <%= blobs.sets %> sets, <%= blobs.hosts %> hosts
                <% } else { %>
                Blobs: 0 sets, 0 hosts
                <% } %>
            </div>
            <br>

            <div>
                <% if(structs) { %>
                Structs: <%= structs.sets %> sets, <%= structs.hosts %> hosts
                <% } else { %>
                Structs: 0 sets, 0 hosts
                <% } %>
            </div>
            <br>

            <div>
                <% if(index) { %>
                Index: <%= index.VMs %> VMs, <%= index.sets %> sets, <%= index.hosts %> hosts
                <% } else { %>
                Index: 0 VMs, 0 sets, 0 hosts
                <% } %>
            </div>
            <br>

            <div>
                <input type="text" hidden value="<%= generate_report %>" name="generate_report"/>
                <button id="submit_form" type="submit" class="btn btn-primary"
                        formaction="/download"
                        <% if(!generate_report) { %>
                        hidden disabled
                        <% } %>
                >Generate PDF
                </button>
            </div>
        </fieldset>
    </form>
</div>

<% include partials/footer %>

<script type="text/javascript" src="/scripts/index.js"></script>