<% include partials/header %>

<div class="container" style="text-align: center">
    <br>
    <h2>Capex Calculator</h2>
    <br>

    <form id="form" autocomplete="off" action="./" method="POST">
        <div>
            <select name="location" id="location">
                <option value="SC4">SC4</option>
                <option value="EU"
                        <% if (location == 'EU') { %>
                        selected
                        <% } %>
                >EU
                </option>
                <option value="CAN"
                        <% if (location == 'CAN') { %>
                        selected
                        <% } %>
                >CAN
                </option>
            </select>
            <button id="add_row" type="button" class="btn btn-primary">Add row</button>
            <button id="delete_row" type="button" class="btn btn-primary">Delete row</button>
        </div>
        <br>

        <table id="form_table" class="table table-bordered">
            <thead>
            <tr>
                <th>Customer name</th>
                <th>Data size (TB)</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <% if(example && example.length) {
            for(let i = 0; i < example.length; i++) { %>
            <tr>
                <td><input type="text" class="form-control" placeholder="Customer name" name="form[<%= i %>][name]"
                           value="<%= example[i].name %>"/></td>
                <td><input type="number" class="form-control" placeholder="Data size" min="0" step="0.01"
                           name="form[<%= i %>][size]" value="<%= example[i].size %>"/></td>
                <td><i class="fa fa-trash" aria-hidden="true" onclick='delete_row(this);'></i></td>
            </tr>
            <% } } else { %>
            <tr>
                <td><input type="text" class="form-control" placeholder="Customer name" name="form[0][name]"
                           value=""/></td>
                <td><input type="number" class="form-control" placeholder="Data size" min="0" step="0.01"
                           name="form[0][size]" value=""/></td>
                <td><i class="fa fa-trash" aria-hidden="true" onclick="delete_row(this);"></i></td>
            </tr>
            <% } %>

            </tbody>
        </table>

        <div id="total_size">
            <% if (total) { %>
            <b>Total data size: <%= total %> TB</b>
            <br><br>
            <% } %>
        </div>


        <button id="submit_form" type="submit" class="btn btn-primary">
            Calc!
        </button>

        <a href="./">
            <button type="button" class="btn btn-danger">
                Reset
            </button>
        </a>

        <br>
        <br>

        <fieldset>
            <legend>Results</legend>

            <div>
                <% if(total && index && index.table) { %>
                <table class="table table-bordered" id="results_table">
                    <thead>
                    <tr>
                        <th>Customer name</th>
                        <th>Data size (TB)</th>
                        <th>Data size (GB)</th>
                        <th>Ingested (GB)</th>
                        <th>Reduced index size (GB)</th>
                        <th>250 GB space (VM)</th>
                        <th>150 GB space (VM)</th>
                        <th>Required space (GB)</th>
                        <th>150 GB space remaining (VM)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(let row of index.table) { %>
                    <tr>
                        <td><%= row.name %></td>
                        <td><%= row.TB %></td>
                        <td><%= row.GB %></td>
                        <td><%= row.ingested %></td>
                        <td><%= row.index %></td>
                        <td><%= row.vm250_used %></td>
                        <td><%= row.vm150_used %></td>
                        <td><%= row.required_spaces %></td>
                        <td><%= row.vm150_remaining %></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
                <% } %>
            </div>
            <br>

            <div>
                <% if(blobs) { %>
                Blobs: <%= blobs.sets %> sets, <%= blobs.hosts %> hosts
                <% } else { %>
                Blobs: 0 sets, 0 hosts
                <% } %>
                <br>
                <br>

                <% if(structs) { %>
                Structs: <%= structs.sets %> sets, <%= structs.hosts %> hosts
                <% } else { %>
                Structs: 0 sets, 0 hosts
                <% } %>
                <br>
                <br>

                <% if(index) { %>
                Index: <%= index.VMs %> VMs, <%= index.sets %> sets, <%= index.hosts %> hosts
                <% } else { %>
                Index: 0 VMs, 0 sets, 0 hosts
                <% } %>
            </div>
            <br>

            <% if(blobs && structs && index) { %>
            <legend>Cost</legend>
            <div>
                    Blobs: <%= blobs.hosts %> hosts ✕ <input style="border-style: solid !important; width: 100px; height: auto; text-align: center;" id="blob_multiplier" type="number" min="0" value="20" onkeyup="calc_cost('<%= blobs.hosts %>', this, '#blob_cost');"> / unit = <span id="blob_cost"></span>
                    <br>
                    <br>
    
                    Structs: <%= structs.hosts %> hosts ✕ <input style="border-style: solid !important; width: 100px; height: auto; text-align: center;" id="struct_multiplier" type="number"  min="0" value="20" onkeyup="calc_cost('<%= structs.hosts %>', this, '#struct_cost');"> / unit = <span id="struct_cost"></span>
                    <br>
                    <br>
    
                    Index: <%= index.hosts %> hosts ✕ <input style="border-style: solid !important; width: 100px; height: auto; text-align: center;" id="index_multiplier" type="number" min="0" value="20" onkeyup="calc_cost('<%= index.hosts %>', this, '#index_cost');"> / unit = <span id="index_cost"></span>
                    <br>
                    <br>

                    Estimated total cost: <span id="total_cost"></span>
                </div>
                <br>
            <% } %>
            

            <div>
                <input type="text" hidden value="<%= generate_report %>" name="generate_report"/>
                <button id="submit_form" type="submit" class="btn btn-primary"
                        formaction="./download"
                        <% if(!generate_report) { %>
                        hidden disabled
                        <% } %>
                >Generate PDF
                </button>

                <% if(generate_report) { %>
                <br>
                <br>
                <div>
                    <input id="email" style="border-style: solid !important; width: auto; height: auto;" type="email"
                            <% if(!generate_report) { %>
                           hidden disabled
                            <% } %>
                    />
                    <button id="email_button" type="button" class="btn btn-primary"
                            <% if(!generate_report) { %>
                            hidden disabled
                            <% } %>
                    >Send Email
                    </button>
                </div>
                <% } %>
            </div>
        </fieldset>
    </form>
</div>

<% include partials/footer %>

<script type="text/javascript" src="./scripts/index.js"></script>
<script>
    $(document).ready(function () {
        calc_cost('<%= (blobs) ? blobs.hosts : 0 %>', "#blob_multiplier", '#blob_cost');
        calc_cost('<%= (structs) ? structs.hosts : 0 %>', "#struct_multiplier", '#struct_cost');
        calc_cost('<%= (index) ? index.hosts : 0 %>', '#index_multiplier', '#index_cost');

        // $("#blob_multiplier").keyup(calc_cost('<%= (blobs) ? blobs.hosts : 0 %>', "#blob_multiplier", '#blob_cost'));
        // $('#struct_multiplier').keyup(calc_cost('<%= (structs) ? structs.hosts : 0 %>', "#struct_multiplier", '#struct_cost'));
        // $('#index_cost').keyup(calc_cost('<%= (index) ? index.hosts : 0 %>', '#index_multiplier', '#index_cost'));

        // $("#blob_multiplier").click(calc_cost('<%= (blobs) ? blobs.hosts : 0 %>', "#blob_multiplier", '#blob_cost'));
        // $('#struct_multiplier').click(calc_cost('<%= (structs) ? structs.hosts : 0 %>', "#struct_multiplier", '#struct_cost'));
        // $('#index_cost').click(calc_cost('<%= (index) ? index.hosts : 0 %>', '#index_multiplier', '#index_cost'));
    });
</script>